<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h2 align="center">机票查询</h2>
    <div th:each="flight:${jsonData}">
    <table>
      <tr>
        <th th:text="航空公司编码"></th>
        <th th:text="航班编号"></th>
        <th th:text="起飞时间"></th>
        <th th:text="起飞机场"></th>
      </tr>
      <tr>
        <td align="center" th:text="${flight['AirCompanyCode']}"></td>
        <td align="center" th:text="${flight['FlightNo']}"></td>
        <td align="center" th:text="${flight['TakeOffTime']}"></td>
        <td align="center" th:text="${flight['TakeoffAirportName']}"></td>
      </tr>
      <tr>
        <th th:text="航空公司名称"></th>
        <th th:text="机场建设费"></th>
        <th th:text="到达时间"></th>
        <th th:text="到达机场"></th>
      </tr>
      <tr>
        <td align="center" th:text="${flight['AirCompanyName']}"></td>
        <td align="center" th:text="${flight['AirportTax']}"></td>
        <td align="center" th:text="${flight['ArrivalTime']}"></td>
        <td align="center" th:text="${flight['ArrivalAirportName']}"></td>
      </tr>
    </table>
      <table>
      <tr>
        <th th:text="座舱编码"></th>
        <th th:text="座舱说明"></th>
        <th th:text="折扣"></th>
        <th style="width:'50px'" th:text="价格"></th>
        <th th:text="供应商"></th>
        <th th:text="是否超标"></th>
        <th th:text="是否航班最低价"></th>
        <th th:text="是否时段最低价"></th>
      </tr>
      <div th:each="cabin:${flight['CabinSeatList']}">
      <tr>
        <td align="center" th:text="${cabin['CabinSeatCode']}"></td>
        <td align="center" th:text="${cabin['CabinSeatDes']}"></td>
        <td align="center" th:text="${cabin['Discount']}"></td>
        <td width="50px" align="right" th:text="${cabin['Price']}"></td>
        <td align="center" th:text="${cabin['SupplierName']}"></td>
        <td align="center" th:text="${cabin['IsExceed']?'是':''}"></td>
        <td align="center" th:text="${cabin['IsLowestPrice']?'是':''}"></td>
        <td align="center" th:text="${cabin['IsTimeLowestPrice']?'是':''}"></td>
      </tr>
      </div>
      </table>
      <hr/>
    </div>
  </body>
</html>